body {
  font-family: 'Lato', sans-serif;
}
.welcome-bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.welcome-text {
  font-family: 'Clicker Script', cursive;
  font-size: 15em;
  text-align: center;
  margin-top: 15%;
}
.coming-soon {
  position: absolute;
  text-align: center;
  font-weight: lighter;
  top: 80%;
  left: 70%;
}
.yakinda {
  position: absolute;
}
.sizlerle {
  position: absolute;
  color: #f6546a;
  top: 50px;
  left: 100px;
}
@media only screen and (min-width: 981px) and (min-width: 1200px) {
  .welcome-text {
    font-size: 20em;
  }
  .coming-soon {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 701px) and (max-width: 980px) {
  .welcome-text {
    margin-top: 40%;
    font-size: 15em;
  }
  .coming-soon {
    top: 85%;
    left: 65%;
  }
  .yakinda {
    font-size: 2em;
  }
  .sizlerle {
    font-size: 2em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 700px) {
  .welcome-text {
    margin-top: 40%;
    font-size: 10em;
  }
  .coming-soon {
    left: 25%;
  }
  .yakinda {
    font-size: 2em;
  }
  .sizlerle {
    font-size: 2em;
  }
}

@media only screen and (min-width: 281px) and (max-width: 320px) {
  .welcome-text {
    margin-top: 50%;
    font-size: 10em;
  }
  .coming-soon {
    left: 25%;
  }
  .yakinda {
    font-size: 2em;
  }
  .sizlerle {
    font-size: 2em;
  }
}
@media only screen and (max-width: 280px) {
  .coming-soon {
    visibility: hidden;
  }
  .yakinda {
    visibility: hidden;

  }
}
