body {
  font-family: 'Lato', sans-serif;
}
.coming-soon {
  text-align: center;
  margin-top: 70%;
}
.sizlerle {
  color: #f6546a;
  text-align: center;
}
.col-md-1 {
  border-style: solid;
  border-width: 1.3px;
  height: 100px;
  width: 100px;
}
.centerer {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 5%;
}
#moving {
 right: -20px;
 bottom: -20px;
 color: #f6546a;
}
.bottom .left {
  border-top: 0px;
}
.top .right {
  border-left: 0px;
}
.nes-logo {
  margin: 5% 0% 0% 39%;
  /*position: fixed;*/

}
